.shuffle-kech
  ul.shuffle-controls
    li(class="shuffle-control-item") all
    li(class="shuffle-control-item", data-btn="art") art
    li(class="shuffle-control-item", data-btn="design") design
    li(class="shuffle-control-item", data-btn="coffee") coffee
  .shuffle-content
    div(class="shuffle-item", data-cat="art")
      img(src="./imgs/person_1.jpg", alt="")
    div(class="shuffle-item", data-cat="design")
      img(src="./imgs/person_2.jpg", alt="")
    div(class="shuffle-item", data-cat="coffee")
      img(src="./imgs/person_3.jpg", alt="")
    div(class="shuffle-item", data-cat="design")
      img(src="./imgs/person_4.jpg", alt="")
